main/sparqlmcp-main/frontend/resp1.json
main/sparqlmcp-main/frontend/resp1_after.json
main/sparqlmcp-main/frontend/resp1_after_restart.json
main/sparqlmcp-main/frontend/resp2.json
main/sparqlmcp-main/frontend/resp2_after.json
main/sparqlmcp-main/frontend/resp2_after_restart.json
